<%= form_for(:session, url: login_path) do |f| %>
				<div class='container'><p></p>
				<div class="col-lg-4 col-xs-2"></div>
				<div class="well col-lg-4 col-xs-8 CDB_LOGIN">			
								<h1>Login</h1>
													<p><%= f.email_field :email, :placeholder => "Email", class: "CDB_INPUT", :size => "20" %></p>
													<p><%= f.password_field :password, :placeholder => "Password", class:  "CDB_INPUT" %></p>
													<p><%= f.submit "Log in", class: "btn btn-default" %> <%= link_to 'Cancel', '/', :class => "btn btn-default" %>
		</div>
		<div class="col-lg-4 col-xs-2"></div>
	</div>
<% end %>
