		<div class='well'>
<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label :building_id %>
		<%= f.select "building_id", options_for_select(Building.all.order('name').collect{ |b| [b.name, b.id] }, @classroom.building_id) %>
	</div>
  <div class="field">
    <%= f.label :occupancy %><br>
    <%= f.number_field :occupancy %>
  </div>

	<div class='field'>
					<p><%= f.label :description %></p>
					<%= f.text_area :description %>
	</div>
	<div class="field">
		<table class="Tech">
			<tr>
				<td>
					<%= f.check_box :smartboard %></td><td> Smartboard
				</td>
				<td>
					<%= f.check_box :pc %> </td><td> PC
				</td>
				<td>
					<%= f.check_box :doccam %> </td><td> Document Camera
				</td>
			</tr>
			<tr>
				<td>
					<%= f.check_box :projector %> </td><td> Projector
				</td>
				<td>
					<%= f.check_box :extron %> </td><td> Extron
				</td>
				<td>
					<%= f.check_box :bluray %> </td><td> Bluray/DVD Player
				</td>
			</tr>
		</table>
	</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

