<p id="notice"><%= notice %></p>

<div>
	<div id="CDB_FILTER">
				<%= search_form_for @search, :remote=>"true", url: classrooms_path, :method => :get do |f| %>
								<div class='field'>
												<p><strong>Building</strong></p>
												<%= f.select "building_id_eq", options_for_select(Building.all.order('name').collect{ |b| [b.name, b.id] }), :include_blank => "Any" %>
								</div>
								<div class='field'>
												<p><strong>Minimum Number of Seats</strong></p>
												<%= f.number_field :occupancy_gteq, in: 0...200  %>
								</div>
								<p><strong>Technology: </strong></p>
								<div class='field'>
								<p><%= f.check_box :smartboard_true, include_hidden: false %>Smartboard</p>
								</div>
								<div class='field'>
								<p><%= f.check_box :pc_true, include_hidden: false %>PC</p>
								</div>
								<div class='field'>
								<p><%= f.check_box :projector_true, include_hidden: false %>Projector</p>
								</div>
								<div class='field'>
								<p><%= f.check_box :doccam_true, include_hidden: false %>Document Camera</p>
								</div> 
								<div class="actions"><%= f.submit "Apply" %></div>
								<div><button id='clearFilters'>Clear</button></div>
				<% end %>
	</div>	
	<div id="filterTag"><a id="Filters" href='#'>Filters <span class='glyphicon glyphicon-filter'></span></a></div>
</div>
<div class="container">
				<% if current_user %>
							<div class='col-md-3'></div>
										<%= link_to new_classroom_path do %>
										<div class='col-md-2 col-sm-5 well CDB_NEW'>New Classroom</div>
									  	<% end %>
										<div class='col-md-2'></div>
										<%= link_to new_building_path do %>
										<div class='col-md-2 col-sm-5 well CDB_NEW'>New <br/> Buidling</div>
										<% end %>
										<div class='col-md-3'></div>
							</div>
				<% end %>
</div>

<div class="container">
	<div class= "well">
		<h1 class="text-center">Classrooms</h1>
	</div>
</div>
<div class="container" id="classrooms"><%= render 'classrooms' %></div>	
