<p class="label label-primary" id="notice"><%= notice %></p>

<div class="container-fluid">
				<%= search_form_for @search do |f| %>
								<div class='field'>
												<%= f.label :building, "Building" %>
												<%= f.select "building_id_cont", options_for_select(Building.all.order('name').collect{ |b| [b.name, b.id] }) %>
								</div>
								<div class='field'>
												<%= f.label :occupancy_gteq, "Capacity more than" %>
												<%= f.text_field :occupancy_gteq %>
												<%= f.label :occupancy_lteq, "Capacity less than" %>
												<%= f.text_field :occupancy_lteq %>
								</div>
								<div class="actions"><%= f.submit "Apply" %></div>
				<% end %>

<div class="container">
				<% if current_user %>
							<div class='col-md-3'></div>
										<%= link_to new_classroom_path do %>
										<div class='col-md-2 col-sm-5 well CDB_NEW'>New Classroom</div>
									  	<% end %>
										<div class='col-md-2'></div>
										<%= link_to new_building_path do %>
										<div class='col-md-2 col-sm-5 well CDB_NEW'>New Buidling</div>
										<% end %>
										<div class='col-md-3'></div>
							</div>
				<% end %>
</div>

<div class="container">
	<div class= "well">
		<h1 style="text-align:center">Listing Classrooms</h1>
	</div>
</div>
		<% if @classrooms.count == 0 %>
			<div class="container">
				<h2 style="text-align: center">No Classrooms are in the database at this time.</h2>
			</div>
		<% else %>
			<div class="container">
				<div class="row">			
			<% @classrooms.each do |classroom| %>			
							<%= link_to classroom_path(classroom) do %>	
								<div class='wrapper col-sm-3'>
									<div class="CDB_TH_NAME">
										<div class="wrapper-content">
											<p></p>
											<p></p>
											<span class="glyphicon glyphicon-search CDB_SRCH_ICON"></span>
										</div>
									</div>
								<% if classroom.pictures.first.nil? %>
									<div> No Image </div>
								<% else %>	
									<%= image_tag classroom.pictures.first.image_url(:thumb).to_s %>
								<% end %>
								<div class='CDB_NAME'>
									<%= classroom.name %>
										<% if current_user %>
											<div class='CDB_ADMIN'>
											<%= link_to 'Edit', edit_classroom_path(classroom) %> | 
											<%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %>
										</div>
									<% end %>
								</div>
							</div>
				<% end %>
				<% end %>
				</div>
				</div>
		<% end %>
