<p id="notice"><%= notice %></p>
<div class="container">
				<% if current_user %>
							
										<%= link_to new_classroom_path do %>
											<div class='col-md-2 col-sm-2 well CDB_NEW'>New Classroom</div>
									  <% end %>
										<%= link_to new_building_path do %>
											<div class='col-md-2 col-sm-2 col-sm-offset-1 well CDB_NEW'>New Building</div>
										<% end %>
										<%= link_to new_contact_path do %>
											<div class='col-md-2 col-sm-2 col-sm-offset-1 well CDB_NEW'>New Contact</div>
										<% end %>
							</div>
				<% end %>
</div>
<div class="container-fluid">
	<div class= "row well">
		<h1 class="text-center">Classrooms</h1>
	</div>
</div>
<div class="container-fluid" id="classrooms">
	<% if @classrooms.count == 0 %>
		<h2 style="text-align: center">No Classrooms are in the database at this time.</h2>
	<% else %>
		<div class="row">
			<%= render 'classrooms' %>
		</div>
	<% end %>
</div>	
