<p id="notice"><%= notice %></p>
<div class='container'>
								<div class='well'>
								
									<h1 class='text-center'>
									<%= @classroom.name %>
									</h1>
									<% if current_user %>
										<div class='text-center'>	<%= link_to 'Edit', edit_classroom_path(@classroom) %> </div>
									<% end %>
									<div class="text-center">
										<p><%= @classroom.description %></p>
										<p><strong>Building:</strong> <%= Building.find(@classroom.building_id).name %></p>
										<p><strong>Seats: </strong><%= @classroom.occupancy %></p>
										<p><strong>Technology: </strong>
											<%= @classroom.tech.to_sentence %>
									</div>
									<div class="CDB_CLASS_SHOW row">
										<table class="CDB_CLASS_TABLE">
											<tr>
										<% @count = 0 %>
										<% for picture in @classroom.pictures %>
											<% @count += 1%>
											<td class="CDB_CLASS_CELL">
																	<% if picture.nil? %>
																			No Image
																	<% else %>
																			<a data-toggle="modal" data-target='#<%=picture.name%>'>
																						<%= image_tag picture.image_url(:thumb).to_s  %>
																			</a>
																			<p>
																			<% if current_user %>
																			<%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
																			<% end %>
																			</p>
																	<% end %>
												<div id='<%=picture.name%>' class="modal fade" role="dialog">
												<div class="modal-dialog">
																<div class="modal-content">
																				<div class="modal-header">
																								<button type="button" class="close" data-dismiss="modal">&times;</button>
																								<h4 style='text-align: center'> <%= @classroom.name %> </h4>	
																				</div>
																				<div class="modal-body">	
																									<% if picture.nil? %>
																											No Image
																									<% else %>
																										<%= image_tag picture.image_url(:large).to_s %>
																									<% end %>
																				</div>
																</div>
												</div>
									</div>
								</td>
								<% if @count % 4 == 0 %>
										</tr><tr>
								<% end %>
								<% end %>
							    <td class="CDB_ADD_BUTTON">
									<% if current_user %>
										<%= link_to new_picture_path(:classroom_id => @classroom), class: 'CDB_NO_HOVER' do %>
											<%= image_tag('add-button-md.png', id: 'AddButton', class: 'center-block') %>
											<p class='text-center'>Add New Image</p>
										<% end %>
									<% end %>
								</tr>
							</table>
			 </div>
</div>

<div class="container">
								<div class="col-xs-4"></div>
								<div class="col-xs-2 well text-center CDB_NEW">
									<%= link_to 'Back', classrooms_path %>
							 </div>
							 <div class="col-xs-4"></div>
</div>


