<%= form_for @picture, :html => {:multipart => true}  do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
			<p>
        <div>
				  <div class='file_wrapper'>
				  	<%= f.hidden_field :classroom_id %>
				  	<%= f.file_field :image %>
				  </div>
        </div>
			</p>
			<div class="actions">
				<%= f.submit class:  "btn btn-default" %>
			</div>
<% end %>
