<!DOCTYPE html>
<html>
<head>
  <title>WSUCDB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="CDB_HEADER">
WSU Classroom Database
</div>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><a href='#'>Filters <span class='glyphicon glyphicon-filter'></span></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<% if current_user %>
						<%= current_user.email %> | 
						<%= link_to "Log out", logout_path, method: "delete" %></li>
				<% else %>
						<%= link_to "Login <span class='glyphicon glyphicon-user'></span>".html_safe, 'login' %></li>
				<% end %>
			</li>
		</ul>
	</div>
</nav>

<%= yield %>

</body>
</html>
