<!DOCTYPE html>
<html>
<head>
  <title>WSU Classroom Search</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="CDB_Top">
<div class="CDB_HEADER">
	<%= link_to '/' do%>
		<%= image_tag("wsu_logo.png") %></br>
		Classroom Finder
	<% end %>
</div>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-right">
			<li>
			<% if current_user %>
								<li> <%= link_to "Users", users_path %> </li>
								<li> <%= link_to "Classrooms", classrooms_path %> </li>
								<li> <%= link_to "Buildings", buildings_path %> </li>
								<li><a> <%= current_user.email %> </a> </li><li> <%= link_to "Log out", logout_path, method: "delete" %></li>
				<% else %>
						<%= link_to "Admin <span class='glyphicon glyphicon-user'></span>".html_safe, login_path %></li>
				<% end %>
			</li>
		</ul>
	</div>
</nav>
</div>
<div id="CDB_CONTENT">
<%= yield %>
</dv>
</body>
</html>
